a{
	text-decoration: none;
}

p, h4{
	margin-bottom: 0;
}

fieldset{
	padding: 0;
	border-color: transparent;
	position: relative;
	
}

label{
	font-weight: 400;
}

input[type="checkbox"]{
	margin-right: 5px;
}