body{
	background-color: $gray-lighter;
}

.wrapper{
	@extend .cf;
	
	margin-bottom: em(72);
	
	&:last-child{
		padding-bottom: 4rem;
	}
}

    .site-footer .wrapper, .swatches{
	    padding-top: 0;
		border-bottom: none;
    }

.grid{
	margin-left: 0;
}

	.grid__item{
		padding-left: 0;
		float: left;
	}
	
.centered{
	margin: 0 auto;
}


.hr{
	clear: both;
	display: block;
	height: 0;
	border-top: 1px solid rgba(6,8,8,0.12);
	border-bottom: 1px solid rgba(255,255,255,0.15);
}

.text-center{
	text-align: center;
}

.color-name{
	margin-bottom: 0.75rem;
}

.gold{
	background-color: $cru-primary;
}

.white{
	background-color: #ffffff;
}

.orange{
	background-color: $cru-secondary;
}

.blue-deep{
	background-color: $cru-accent-dark;
}

.blue-bright{
    background-color: $cru-accent-light;
}

.gray{
    background-color: $cru-gray;
}

.gray-darker{
    background-color: $gray-darker;
}

.gray-dark{
	background-color: $gray-dark;
}

.gray-light{
	background-color: $gray-light;	
}

.gray-lighter{
	background-color: $gray-lighter;
}



.color-block{
	display: block;
	float: left;
	text-align: center;
	color: #fff;
}

	.color-block.primary{
		height: 200px;
	}
	
	.color-block.secondary{
		height: 60px;
		
		h3, h4{
			display: inline;
		}
		
		h3{
			font-size: 95%;
		}
		
		h4{
			font-size: 83%;	
		}
		
		.holder{
			padding-top: 12px;
		}
	}
	
	.color-block.accent{
		height: 30px;
		
		h3, h4{
			display: inline;
		}
		
		h3{
			font-size: 85%;
		}
		
		h4{
			font-size: 80%;	
		}
		
		.holder{
			padding-top: 0px;
		}	
	}
	
	.color-block.grayscale{
		height: 200px;
		
		&.mini{
			position: relative;
			
			h3{
				font-size: 82%;
			}

			h4{
				font-size: 80%;
			}
		}
	}


.holder{
	padding-top: 30px;
	padding-left: 2%;
	padding-right: 2%;
}

.text-dark{
	color: $gray-darker;
}

.hex{
	letter-spacing: 1.5px;
	@extend %numeral;
}


.palate{
	@extend .cf;
}

.area-main{
	@extend .cf;
	
	padding-top: 18px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
	
	button{
		margin-bottom: 10px;
	}
}

.site-footer{
	background-color: $gray-lighter;
	position: fixed;
	bottom: 0;
	
	padding: 1.4%;		
}

@media all and (min-width: 300px){
	body{
		font-size: 105%;
	}
}


@media all and (min-width: 780px){
	.pb8{
		padding-bottom: em(48);
	}
	
	body{
		font-size: 110%;
	}
}

@media all and (min-width: 900px){
	body{
		font-size: 115%;
	}
}

@media all and (min-width: 1200px){
	body{
		font-size: 125%;
	}
	
	.font-change{
		h1{
			font-size: 2.60em;
		}

		h2{
			font-size: 2.15em;
		}

		h3{
			font-size: 1.725em;
		}

		h4{
			font-size: 1.38em;
		}
	}

}


@media all and (max-width: 1150px){
	.rotate {
	    -webkit-transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
    	-ms-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        vertical-align: middle;
        text-align: center;
		position: absolute;
		top: 28%;

	}
	
	.color-block.grayscale.mini  h3{
		display: none;
	}
}

@media all and (max-width: 780px){
    .color-name{
	    display: none !important;
    }

	.rotate{
		left: -12px;
	}


}

@media all and (max-width: 500px){
    .hex{
	    display: none !important;
    }


}

