/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
.gold{
	background-color: $cru-primary;
}

.white{
	background-color: #ffffff;
}

.orange{
	background-color: $cru-secondary;
}

.blue-deep{
	background-color: $cru-accent-dark;
}

.blue-bright{
    background-color: $cru-accent-light;
}

.gray{
    background-color: $cru-gray;
}

.gray-darker{
    background-color: $gray-darker;
}

.gray-dark{
	background-color: $gray-dark;
}

.gray-light{
	background-color: $gray-light;	
}

.gray-lighter{
	background-color: $gray-lighter;
}

.center-block{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

%transition-default{
	@include vendor(transition, all .2s ease);
}

%transition-slower{
	@include vendor(transition, all .3s ease);
}

%no-select{
	@include vendor(user-select, none);
}

%numeral, .num{
	font-family: $numeral-font-family;
}

%text-white{
	color: #ffffff !important;
}

%block-element{
	display: block;
}

%inline-block-element{
	display: inline-block;
}

%inline-element{
	display: inline;
}

.pull-left{
	float: left;
}

%pull-right{
	float: right;
}

%no-float{
	float: none;
}

%button-disabled{
	@extend .gray-lighter;
	@extend .disabled;

	border-color: lighten($cru-gray, 45%);

	&:hover{
		@extend .gray-lighter;
	}
}

%circle{
	border-radius: 50%;
}




@include vertical-calc(1, 12) {}

