.message{
	@extend .ptb3;
	
	position: relative;
	display: block;
	min-height: 18px;
	height: auto;
	background-color: #efefef;
	
	padding-left: em(18);
	padding-right: em(18);
	
	font-size: 16px;
	color: rgba(0, 0, 0, 0.6);
	
	@include vendor(border-radius, 3px);
}

.message--warning{
	background-color: #F6F3D5;
	color: #96904D;
}

.message--info{
	background-color: #E6F4F9;
	color: #4D8796;
}

.message--success{
	background-color: #5BBD72;
	color: #FFFFFF;
}

.message--danger{
	background-color: #D95C5C;
	color: #FFFFFF;
	
}

.message--attached{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	
}



.icon--close{	
	position: absolute;
	top: 4px;
	right: 10px;
	opacity: 0.7;
	
	font-size: 24px;
	color: inherit;
	
	cursor: pointer;
	
	/*
	 * Overrides defaults if placed in a <button></button>
	 */
	background: transparent;
	border: 0;
	outline: none;
	
	&:hover{
		opacity: 1;
	}
}