/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * Sets up the basic variables for Cru branding for easy usage
 */
/*------------------------------------*\
    $INITIAL VARIABLE SETUP
\*------------------------------------*/
/**
 * Font Families
 */
/**
 * Cool Colors
 */
/**
 * Warm Colors
 */
/** 
 * Grays
 */
/*------------------------------------*\
    $VERTICAL GRID
\*------------------------------------*/
/** 
 * Vertical basline multiplier used in setting margins and paddings
 */
/*------------------------------------*\
    $FONT USAGE
\*------------------------------------*/
/*------------------------------------*\
    $COLOR USAGE
\*------------------------------------*/
/*
* Body Font Color
*/
/*
* Primary Colors 
*/
/*
* Secondary Colors
*/
/**
 * Accent Colors
 */
/*------------------------------------*\
    $MIXINS AND FUNTIONS
\*------------------------------------*/
/**
 * Pixel to em convertion handling
 */
/* Default */
/**
 * Allows numbers to be set with css instead of html by default; this allows
 * us to change the font family(and other things) of the number only
 */
/**
 *  Calculates any number of margins and paddings in one swoop
 * 
 * Running this is as easy 
 * @include vertical-calc(1, 12) {}
 *
 */
.mt1, .mtb1 {
  margin-top: 6px !important;
  margin-top: 0.375em !important; }

.mb1, .mtb1 {
  margin-bottom: 6px !important;
  margin-bottom: 0.375em !important; }

.pt1, .ptb1 {
  padding-top: 6px !important;
  padding-top: 0.375em !important; }

.pb1, .ptb1 {
  padding-bottom: 6px !important;
  padding-bottom: 0.375em !important; }

.mt2, .mtb2 {
  margin-top: 12px !important;
  margin-top: 0.75em !important; }

.mb2, .mtb2 {
  margin-bottom: 12px !important;
  margin-bottom: 0.75em !important; }

.pt2, .ptb2 {
  padding-top: 12px !important;
  padding-top: 0.75em !important; }

.pb2, .ptb2 {
  padding-bottom: 12px !important;
  padding-bottom: 0.75em !important; }

.mt3, .mtb3 {
  margin-top: 18px !important;
  margin-top: 1.125em !important; }

.mb3, .mtb3 {
  margin-bottom: 18px !important;
  margin-bottom: 1.125em !important; }

.pt3, .ptb3 {
  padding-top: 18px !important;
  padding-top: 1.125em !important; }

.pb3, .ptb3 {
  padding-bottom: 18px !important;
  padding-bottom: 1.125em !important; }

.mt4, .mtb4 {
  margin-top: 24px !important;
  margin-top: 1.5em !important; }

.mb4, .mtb4 {
  margin-bottom: 24px !important;
  margin-bottom: 1.5em !important; }

.pt4, .ptb4 {
  padding-top: 24px !important;
  padding-top: 1.5em !important; }

.pb4, .ptb4 {
  padding-bottom: 24px !important;
  padding-bottom: 1.5em !important; }

.mt5, .mtb5 {
  margin-top: 30px !important;
  margin-top: 1.875em !important; }

.mb5, .mtb5 {
  margin-bottom: 30px !important;
  margin-bottom: 1.875em !important; }

.pt5, .ptb5 {
  padding-top: 30px !important;
  padding-top: 1.875em !important; }

.pb5, .ptb5 {
  padding-bottom: 30px !important;
  padding-bottom: 1.875em !important; }

.mt6, .mtb6 {
  margin-top: 36px !important;
  margin-top: 2.25em !important; }

.mb6, .mtb6 {
  margin-bottom: 36px !important;
  margin-bottom: 2.25em !important; }

.pt6, .ptb6 {
  padding-top: 36px !important;
  padding-top: 2.25em !important; }

.pb6, .ptb6 {
  padding-bottom: 36px !important;
  padding-bottom: 2.25em !important; }

.mt7, .mtb7 {
  margin-top: 42px !important;
  margin-top: 2.625em !important; }

.mb7, .mtb7 {
  margin-bottom: 42px !important;
  margin-bottom: 2.625em !important; }

.pt7, .ptb7 {
  padding-top: 42px !important;
  padding-top: 2.625em !important; }

.pb7, .ptb7 {
  padding-bottom: 42px !important;
  padding-bottom: 2.625em !important; }

.mt8, .mtb8 {
  margin-top: 48px !important;
  margin-top: 3em !important; }

.mb8, .mtb8 {
  margin-bottom: 48px !important;
  margin-bottom: 3em !important; }

.pt8, .ptb8 {
  padding-top: 48px !important;
  padding-top: 3em !important; }

.pb8, .ptb8 {
  padding-bottom: 48px !important;
  padding-bottom: 3em !important; }

.mt9, .mtb9 {
  margin-top: 54px !important;
  margin-top: 3.375em !important; }

.mb9, .mtb9 {
  margin-bottom: 54px !important;
  margin-bottom: 3.375em !important; }

.pt9, .ptb9 {
  padding-top: 54px !important;
  padding-top: 3.375em !important; }

.pb9, .ptb9 {
  padding-bottom: 54px !important;
  padding-bottom: 3.375em !important; }

.mt10, .mtb10 {
  margin-top: 60px !important;
  margin-top: 3.75em !important; }

.mb10, .mtb10 {
  margin-bottom: 60px !important;
  margin-bottom: 3.75em !important; }

.pt10, .ptb10 {
  padding-top: 60px !important;
  padding-top: 3.75em !important; }

.pb10, .ptb10 {
  padding-bottom: 60px !important;
  padding-bottom: 3.75em !important; }

.mt11, .mtb11 {
  margin-top: 66px !important;
  margin-top: 4.125em !important; }

.mb11, .mtb11 {
  margin-bottom: 66px !important;
  margin-bottom: 4.125em !important; }

.pt11, .ptb11 {
  padding-top: 66px !important;
  padding-top: 4.125em !important; }

.pb11, .ptb11 {
  padding-bottom: 66px !important;
  padding-bottom: 4.125em !important; }

.mt12, .mtb12 {
  margin-top: 72px !important;
  margin-top: 4.5em !important; }

.mb12, .mtb12 {
  margin-bottom: 72px !important;
  margin-bottom: 4.5em !important; }

.pt12, .ptb12 {
  padding-top: 72px !important;
  padding-top: 4.5em !important; }

.pb12, .ptb12 {
  padding-bottom: 72px !important;
  padding-bottom: 4.5em !important; }
