
.form{
	font-size: 16px;
	
	fieldset {
		@extend .pb4;
		
		border-bottom-color: #eeeeee;

		&:last-child{
			border-bottom: none;
			margin-bottom: 0;
		}

		&:hover .form-text, &:hover textarea{
			border-color: $cru-gray;
		}
	}
		
	.form-textarea{
		height: 175px;
		resize: none;
	}

	label{
		@extend .pb1;
	}

	.check label{
		@extend %inline-element;
		font-weight: normal;
	}

	.radio ul{
		list-style: none;
		margin-top: 5px;
		margin-left: 0;
	
		& > li{
			
			margin-bottom: 5px;
			
			&:last-child{
				margin: 0;
			}
			
			& > label{
				@extend %inline-element;
				
				font-weight: 300;
			}
		}
	}
	
	select{
		min-width: 25%;
		margin: 0;
	}	
}



.message--attached + .form{
	padding-left: 24px;
	padding-right: 24px;
	
	border-width: 2px;
	border-style: solid;
	border-color: #efefef;
	border-top-color: transparent;
	
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.form-text, .form-textarea{
	@extend %transition-slower;

	display: block;
	width: 100%;
	padding: 5px;
	background-color: #ffffff;
	
	
	border-width: 2px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 4px;

	font-size: 14px;
	
	outline: none;

	@include vendor(box-shadow, inset 0 1px 2px rgba(0,0,0,.05));

	&:focus{
		border-color: $cru-accent-light !important;
	}
}

.form-help{
	@extend %transition-slower;

	opacity: 0;
	position: relative;
	top: -1.3;
	display: block;
	max-height: 0;

	font-size: 15px;
	overflow: hidden;
	word-wrap: break-word;
	margin-top: 0;

	color: lighten($cru-gray, 15%);	
}

.form-text:focus, textarea:focus{
	& + .form-help{
		opacity: 0.8;
		max-height: 200px;
	}
}



@media all and (min-width: 750px){
	.form{
		.form-text, .form-textarea{
			width: 80%;
		}	
		
		label{
			float: left;
			
			width: 20%;
		}
		
		.check label{
			float: none;
			width: auto;
		}
		
		.radio ul{
			margin: 5px 0 0 20%;
			
			& > li{
				margin: 0 0 5px 0;				
				list-style: none;
				
				&:last-child {
					margin: 0;
				}
				
				& > label{
					@extend %no-float;
					float: none;
					
					width: auto;
				}
			}
		}
		
		select {
			min-width: 25%;
			margin: 0;
		}
		
	}
	
	.form-text + .form-help, .form-textarea + .form-help, .form-actions, .check label{
		margin-left: 20%;
	}
}